In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

import warnings
warnings.filterwarnings('ignore')

In [14]:
df = pd.read_csv('C:\\Users\\Galaxy Computers\\Desktop\\caesarian.csv', header=None);df.head()

    0  1  2  3  4  5
0  22  1  0  2  0  0
1  26  2  0  1  0  1
2  26  2  1  1  0  0
3  28  1  0  2  0  0
4  22  2  0  1  0  1

In [16]:

col_names = ["Age", "Delivery number", "Delivery time", "Blood of Pressure", "Heart Problem", "Caesarian" ]

df.columns = col_names
df.columns

Index(['Age', 'Delivery number', 'Delivery time', 'Blood of Pressure',
       'Heart Problem', 'Caesarian'],
      dtype='object')

In [18]:
df.head()

,Age,Delivery number,Delivery time,Blood of Pressure,Heart Problem,Caesarian
0,22,1,0,2,0,0
1,26,2,0,1,0,1
2,26,2,1,1,0,0
3,28,1,0,2,0,0
4,22,2,0,1,0,1

In [19]:
df.shape

(80, 6)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                80 non-null     int64
 1   Delivery number    80 non-null     int64
 2   Delivery time      80 non-null     int64
 3   Blood of Pressure  80 non-null     int64
 4   Heart Problem      80 non-null     int64
 5   Caesarian          80 non-null     int64
dtypes: int64(6)
memory usage: 3.9 KB

In [21]:
df.describe()

,Age,Delivery number,Delivery time,Blood of Pressure,Heart Problem,Caesarian
count,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000
mean,27.687500,1.662500,0.637500,1.000000,0.375000,0.575000
std,5.017927,0.794662,0.815107,0.711568,0.487177,0.497462
min,17.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,1.000000,0.000000,0.750000,0.000000,0.000000
50%,27.000000,1.000000,0.000000,1.000000,0.000000,1.000000
75%,32.000000,2.000000,1.000000,1.250000,1.000000,1.000000
max,40.000000,4.000000,2.000000,2.000000,1.000000,1.000000

In [22]:
X = df.drop(['Age'], axis=1)

y = df['Age']

In [23]:
X.head()

   Delivery number  Delivery time  Blood of Pressure  Heart Problem  Caesarian
0                1              0                  2              0          0
1                2              0                  1              0          1
2                2              1                  1              0          0
3                1              0                  2              0          0
4                2              0                  1              0          1

In [24]:
y.head()

0    22
1    26
2    26
3    28
4    22
Name: Age, dtype: int64

In [25]:
y.value_counts(sort=False)

22     4
26    10
28     6
27     7
32     8
36     3
33     5
23     1
20     3
29     6
25     7
37     1
24     2
18     2
30     3
40     1
31     3
19     2
21     2
35     2
17     1
38     1
Name: Age, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [27]:
X_train.shape, X_test.shape

((56, 5), (24, 5))

In [28]:
cols = X_train.columns
cols

Index(['Delivery number', 'Delivery time', 'Blood of Pressure',
       'Heart Problem', 'Caesarian'],
      dtype='object')

In [29]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)  

X_test = sc.transform(X_test)

In [30]:
type(X_train)

numpy.ndarray

In [31]:
X_train = pd.DataFrame(X_train, columns=[cols])

X_test = pd.DataFrame(X_test, columns=[cols])

In [32]:
type(X_train)

pandas.core.frame.DataFrame

In [33]:
X_train.head()

  Delivery number Delivery time Blood of Pressure Heart Problem Caesarian
0        0.473497     -0.736460          0.074651     -0.866025 -1.243163
1       -0.789161      1.841149          1.468134     -0.866025  0.804400
2       -0.789161      1.841149          1.468134     -0.866025 -1.243163
3        0.473497     -0.736460         -1.318832     -0.866025  0.804400
4        0.473497     -0.736460          0.074651     -0.866025 -1.243163

In [34]:
from sklearn.naive_bayes import GaussianNB

In [35]:
gnb = GaussianNB()

In [36]:
gnb.fit(X_train, y_train)

GaussianNB()

In [37]:
y_pred = gnb.predict(X_test)

y_pred

array([31, 18, 28, 22, 37, 24, 28, 17, 31, 31, 20, 29, 25, 28, 31, 25, 28,
       22, 28, 20, 22, 18, 19, 31], dtype=int64)

In [38]:
from sklearn.metrics import accuracy_score

print('Modelimiz için Accuracy Score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Modelimiz için Accuracy Score: 0.1667

In [39]:
y_pred_train = gnb.predict(X_train)

y_pred_train

array([28, 22, 31, 21, 28, 21, 36, 28, 29, 25, 20, 21, 17, 21, 18, 40, 19,
       19, 28, 36, 25, 24, 29, 24, 29, 21, 20, 28, 37, 28, 21, 31, 25, 30,
       18, 21, 23, 38, 28, 20, 18, 31, 18, 24, 28, 28, 23, 17, 23, 21, 22,
       28, 29, 31, 36, 36], dtype=int64)

In [40]:
print('Train-Data Accuracy Score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train)))

Train-Data Accuracy Score: 0.3393